{block head}
{css textTable}
{/block}
{block content}
<h2>Historie změn</h2>
<table class="stripedTable">
    <tr class="th"><th>Datum:</th><th>Událost:</th></tr>
    <tr n:foreach="$events as $event" n:class="$iterator->isOdd() ? odd">
        <td>{$event->getDate()|date:"j. n. Y H:i"}</td>
        <td>{!$event->getText()}</td>
    </tr>
</table>
{control vp}