{block head}
<style type="text/css">
    #contactForm {
        margin-left: 20px;
    }
    #contactForm table tr th {
        vertical-align: middle;
        text-align: right;
        padding-right: 5px;
    }
</style>
{/block}
{block content}
<h2>Nahlásit problém s administrací</h2>
<div id="contactForm">
    {control contactForm}
</div>