{block head}
    {js ajax}
    {js confirm}
    {js ckeditor/ckeditor}
    {js jqueryui}
    {css jqueryui}
    {css formStyle}
{/block}
{block content}
<h2>{$text->name}</h2>
<div id="editTextForm">
    {control editTextForm}
</div>