{block content}
<div class="content">
	<h2>Walfdorská pedagogika</h2>

	<ul class="linkList">
                        <li><a n:href=":Front:WalfdorskaPedagogika:principy">Principy</a></li>
                        <li><a n:href=":Front:WalfdorskaPedagogika:clanky">Články</a></li>
                        <li><a n:href=":Front:WalfdorskaPedagogika:odkazy">Odkazy</a></li>
                    </ul>

</div>