{block content}
<div class="content">
	<h2>Kdo jsme</h2>

	<ul class="linkList">
                <li><a n:href=":Front:KdoJsme:kontakty">Kontakty</a></li>
                <li><a n:href=":Front:KdoJsme:lide">Lidé</a></li>
                <li><a n:href=":Front:KdoJsme:spolek">Spolek</a></li>
                <li><a n:href=":Front:KdoJsme:misto">Místo</a></li>
                <li><a n:href=":Front:KdoJsme:jiniONas">Jiní o nás</a></li>
	</ul>

</div>