{block content}
<table class="stripedTable">
    <tr class="th"><th>Název stránky</th><th>Odkaz</th></tr>
    {foreach $pages as $page}
    {var link = ":Front:".$page->link."?edit=1"}
        <tr><td>{$page->name}</td><td><a n:href="$link">Upravit</a></td></tr>
    {/foreach}
</table>